<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Finding the Maximum Depth</h1>
    <div>During testing, the only available analysis of the map structure is that of GBN. In the future, when other maps
        can be added, this function will find the maximum depth one needs to take to go from any node on the map to
        another.</div>

    <button id="findMaxDepth">Find Max Depth</button>
    <div id="stats"></div>
    <script src="pathAssign.js"></script>
</body>

</html>