<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>GBN Maps - Use for reference</h1>
    <img src="/gbn_data/gbnmap.png" alt="" width="100%">
    <img src="/gbn_data/floor-1-new.png" alt="" width="100%">
    <img src="/gbn_data/floor-2.png" alt="" width="50%">
</body>

</html>