<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet"
        href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">STU-PF</a><button
                data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a
                            class="nav-link active js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a
                            class="nav-link active js-scroll-trigger" href="#functionality">Functionality</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a
                            class="nav-link js-scroll-trigger" href="#pathfind">Pathfind</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a
                            class="nav-link js-scroll-trigger" href="#student-resources">Student Resources</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a
                            class="nav-link js-scroll-trigger" href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url(assets/img/path2.png) center / cover no-repeat;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">STU-PF</h1>
                        <p class="intro-text">Student path-finding solution&nbsp; to minimize contact.<br>Created amidst
                            the Covid-19 crisis.</p><a class="btn btn-link btn-circle" role="button" href="#about"><i
                                class="icon ion-chevron-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About stu-pf</h2>
                    <p>STU-PF is "Student-Pathfind" shortened. This webapp was created to help GBN, and possibly other
                        schools, take precautionary measures in fighting the coronavirus.</p>
                    <p>STU-PF is a project started by Hyun Min Kim as a solution to lessen the spread of the coronavirus
                        in the hallways.&nbsp;</p>
                    <p>By implementing search algorithms, students are assigned the most optimal paths to take to the
                        next class.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="functionality" class="content-section text-center"
        style="background: url(assets/img/gear.png) center / contain;">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Functionality</h1>
                <p><i class="far fa-dot-circle"></i>&nbsp;Find optimal paths for students to travel from class to class
                    (minimizing contact)</p>
                <p><i class="far fa-dot-circle"></i>&nbsp;Calculate the maximum shortest distance between two class
                    nodes</p>
                <p><i class="far fa-dot-circle"></i>&nbsp;Allow students to access admin-saved sessions to find the path
                    they should take to the next class</p>
            </div>
        </div>
    </section>
    <section id="pathfind" class="content-section text-center"
        style="background: url(assets/img/maze.png) center / cover;background-color: #000000;">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Pathfind</h1>
                <p>*Admins can save loaded data onto the servers for student access*</p><button
                    class="btn btn-primary btn-lg btn-default" type="button">Run Pathfind Function</button>
            </div>
        </div>
    </section>
    <section id="student-resources" class="content-section text-center"
        style="background: url(assets/img/boxes-gray.png) center / cover no-repeat;">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Student Resources</h1>
                <p></p>
            </div>
        </div>
        <div class="container d-flex flex-row justify-content-center align-items-center flex-wrap"
            style="height: auto;">
            <div class="d-flex flex-column justify-content-center align-items-center stu-rsrc">
                <h3 class="stu-rsrc-header"><i class="fas fa-search"></i>&nbsp;BRowse Session</h3>
                <p>If an administrator has given a session code, you will have access to the paths that you should take.
                </p><button class="btn btn-primary" type="button">Browse</button>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center stu-rsrc" id="middle-item-border">
                <h3 class="stu-rsrc-header"><i class="fa fa-database"></i>&nbsp;View Data</h3>
                <p>With the session code, you have limited access to the data collected by the administrator.&nbsp;</p>
                <button class="btn btn-primary" type="button">Browse</button>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center stu-rsrc">
                <h3 class="stu-rsrc-header"><i class="fa fa-map-o"></i>&nbsp;GBN Map</h3>
                <p>The GBN map shows the floor plans of GBN for the 1st, 2nd, and the basement floor.&nbsp;</p><button
                    class="btn btn-primary" type="button">View</button>
            </div>
        </div>
    </section>
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact Creator</h2>
                    <p>Feel free to leave feedback or ask questions to the creator<br></p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default"
                                type="button"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">&nbsp;
                                    Google+</span></button></li>
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default"
                                type="button"><i class="fa fa-github fa-fw"></i><span
                                    class="network-name">&nbsp;github</span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright © STU-PF 2020</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>