<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

<body>
    <h1>Home</h1>
    <h4>***Currently testing***</h4>
    <a href="/gbnmap">GBN Map</a>
    <a href="studata">Student Data</a>
    <div class="container">
        <input type="number" placeholder="Max Distance Difference from shortest distance default 1.2 (120%)"
            id="maxDistDiff" style="display: block; width:98%; margin: 10px;">
        <input type="number"
            placeholder="Initial Depth of DFS. For GBN, the value of 12 was found by the findMaxDepth function in pathAssign.js. Browse console for this console for more info"
            id="initialDepth" style="display: block; width:98%; margin: 10px;">
        <input type="number"
            placeholder="Time that the trace of the coronavirus remains in a hallway or point node default 60(s)"
            id="traceRemainTime" style="display: block; width:98%; margin: 10px;">
        <input type="number" placeholder="Average pace of a human being default 3.1 (m/s)" id="avgPace"
            style="display: block; width:98%; margin: 10px;">
        <input type="number" placeholder="# of minmizing contact function loop iterations default 1 "
            id="minimizeIteration" style="display: block; width:98%; margin: 10px;">
        <input type="number" placeholder="What period just ended? 1-7 default 1" id="period"
            style="display: block; width:98%; margin: 10px;">
    </div>
    <button id="start">Start</button>
    <div id="asyncShow"></div>
    <div id="stats">

    </div>
    <!-- maxDistDiff: 1.2,
    initialDepth: 12,
    traceRemainTime: 60,
    avgPace: 3.1,
    minimizeIteration: 1 -->

    <script src="pathAssign.js"></script>
</body>

</html>