<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - STU-PF</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="assets/pathfind/pathfind-style.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">STU-PF</a><button
                data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
        </div>
    </nav>
    <header class="masthead" style="background: url(assets/img/path2.png) center / cover no-repeat;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Pathfind</h1>
                        <p class="intro-text">Fill information below to start pathfinding<br>Make sure the input data
                            works.</p><a class="btn btn-link btn-circle js-scroll-trigger" role="button" href="#pf"><i
                                class="icon ion-chevron-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="pf" class="content-section text-center" style="background: url(assets/img/gear.png) center / contain;">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Import Map Data</h1>

                <div class="mb-3">
                    <label>Located in Server</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label>Import Files (.txt) </label>
                    <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="mb-3 text-center">
                    <label>Copy and Paste</label>
                    <div class="row">
                        <div class="col-lg-4">
                            <textarea class="input-fields" placeholder="Paths" name="" id="txtar1" width=" 100%"
                                rows="200"></textarea>
                        </div>
                        <div class="col-lg-4">
                            <textarea class="input-fields" placeholder="Points" name="" id="txtar1" width="100%"
                                rows="200"></textarea>
                        </div>
                        <div class="col-lg-4">
                            <textarea class="input-fields" placeholder="Points" name="" id="txtar1" width="100%"
                                rows="200"></textarea>
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <button class="info-buttons"><i class="far fa-question-circle"></i></button>
                </div>
                <button><small>Test Input</small></button>
                <button type="submit" class="btn btn-primary">Submit</button>


            </div>
    </section>

    <section id="pf" class="content-section text-center" style="background: url(assets/img/gear.png) center / contain;">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Input Data & Options</h1>
                <form>
                    <h4>Import Custom Data</h4>
                    <div class="form-group">
                        <label for="exampleInputEmail1">School Paths</label>
                        <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">School Structure</label>
                        <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">School Points</label>
                        <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button><small>Test Input</small></button>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </section>


    <footer>
        <div class="container text-center">
            <p>Copyright © STU-PF 2020</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/scroll.js"></script>
</body>

</html>