<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

<body>
    <h1>Home</h1>
    <h4>***Currently testing***</h4>
    <button id="start">Start</button>
    <!-- maxDistDiff: 1.2,
    initialDepth: 12,
    traceRemainTime: 60,
    avgPace: 3.1,
    minimizeIteration: 1 -->
    <div id="asyncShow"></div>
    <script src="pathAssign.js"></script>
    <script src="pathAssign_data2.js"></script>
</body>

</html>